<?xml version="1.0" encoding="utf-8" ?>
<configuration>
    <startup> 
        <supportedRuntime version="v4.0" sku=".NETFramework,Version=v4.7.2" />
    </startup>
    <system.serviceModel>
        <bindings>
            <basicHttpBinding>
                <binding name="ws_last_positionSoap">
                    <security mode="Transport" />
                </binding>
                <binding name="ws_last_positionSoap1" />
            </basicHttpBinding>
            <customBinding>
                <binding name="ws_last_positionSoap12">
                    <textMessageEncoding messageVersion="Soap12" />
                    <httpsTransport />
                </binding>
            </customBinding>
        </bindings>
        <client>
            <endpoint address="https://bu01.utraxweb.com/ws/ws_Last_Positions/ws_last_position.asmx"
                binding="basicHttpBinding" bindingConfiguration="ws_last_positionSoap"
                contract="MiServicio.ws_last_positionSoap" name="ws_last_positionSoap" />
            <endpoint address="https://bu01.utraxweb.com/ws/ws_Last_Positions/ws_last_position.asmx"
                binding="customBinding" bindingConfiguration="ws_last_positionSoap12"
                contract="MiServicio.ws_last_positionSoap" name="ws_last_positionSoap12" />
        </client>
    </system.serviceModel>
</configuration>